frontend/node_modules
frontend/.env
backend/node_modules
backend/.env
python_backend/.venv
python_backend/__pycache__
python_backend/config.py
python_backend/models
kisan-saathi-service/pytorch_model.bin
kisan-saathi-service/tokenizer_config.json
kisan-saathi-service/spice.model
kisan-saathi-service/venv
kisan-saathi-service/.env