frontend/node_modules
frontend/.env
backend/node_modules
backend/.env
python_backend/.venv
python_backend/__pycache__
python_backend/config.py
python_backend/models
RAG/pytorch_model.bin
RAG/tokenizer_config.json
RAG/spice.model